/* * {
    background-color: aquamarine;

} */

:root{
    --main: blue;

    --secondary: gold;

    --tersh: rgb(15, 3, 116); 

    --quad: white;

    --backdrop: aquamarine;


}

.header{
    padding: 10px;
    background-color: var(--secondary);
    height: 10vh;
    width: 100%;
}

.body {
    background-color: var(--backdrop);
}



.h1 {
 font-size: 200px;
}

h3{
    font-size: 100px;
}



.container{
    display: flex;
    flex-direction: column;
    min-width: 80vw;
    min-height: 100vh;
    /* will delet when finished */
    background-color: var(--tersh);
}

.sidebar{ 
    margin: 0;
    padding: 0;
    position:sticky;
    border-right: 1px;
    border-right-style: dashed;
    border-color: var(--backdrop);
}

.box{
    /* PLACE HOLDER NUMBERS AND MEASURMENTS 
    the 5 boxes in the body of the html*/
    height: 200px;
    width: 400px;
    margin: 20px;
    background-color: var(--secondary);
    border-style: ridge;
    border-color: var(--backdrop);
    border-width: 10px;
    /* optional rounded edges */
    border-radius: 10px;
    
    
}
/* biggest box of the page */
.box1{
    flex: 4;
    border-color: var(--backdrop);
}
.box-img{
    max-width: 400px;
    max-height: 200px;
    
}
/* .box-card{
    width: 140px;
} */